[submodule "lxqt-rpi-image"]
	path = lxqt-rpi-image
	url = https://github.com/RebornOS-Developers/lxqt-rpi-image.git
[submodule "lxqt-rock5b-image"]
	path = lxqt-rock5b-image
	url = https://github.com/RebornOS-Developers/lxqt-rock5b-image.git
[submodule "lxqt-r58-mini-image"]
	path = lxqt-r58-mini-image
	url = https://github.com/RebornOS-Developers/lxqt-r58-mini-image.git
[submodule "lxqt-r58x-image"]
	path = lxqt-r58x-image
	url = https://github.com/RebornOS-Developers/lxqt-r58x-image.git
[submodule "lxqt-opi5-image"]
	path = lxqt-opi5-image
	url = https://github.com/RebornOS-Developers/lxqt-opi5-image.git
[submodule "lxqt-r58x-4g-image"]
	path = lxqt-r58x-4g-image
	url = https://github.com/RebornOS-Developers/lxqt-r58x-4g-image.git
[submodule "lxqt-r58s-image"]
	path = lxqt-r58s-image
	url = https://github.com/RebornOS-Developers/lxqt-r58s-image.git
[submodule "lxqt-cpi4-image"]
	path = lxqt-cpi4-image
	url = https://github.com/RebornOS-Developers/lxqt-cpi4-image.git
[submodule "lxqt-rock5a-image"]
	path = lxqt-rock5a-image
	url = https://github.com/RebornOS-Developers/lxqt-rock5a-image.git
